
<body>
    <main>
        <h1>Formulaire !</h1>
        <br>
        <form action="#" method="post" id="form-user ">
            <div>
                <label for="firstname">Prenom :</label>
                <input type="text" name="firstname" id="firstname" required>
            </div>
            <div>
                <label for="lastname">Nom :</label>
                <input type="text" name="lastname" id="lastname" required>
            </div>
            <div>
                <label for="age"> Age :</label>
                <input type="number" name="age" min="1" max="115">
            </div>
            <div>
                <button>Submit</button>
            </div>
        </form>
    </main>
</body>
