<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars Listing</title>
</head>
<body>
    <main>
        <h1> Car List</h1>

        <p th:if="${cars.isEmpty()}">
            There is no car here!
        </p>
        <table th:if ="${!cars.isEmpty()}">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Marque</th>
                    <th>Couleur</th>
                    <th>Année de mise en service</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="d : ${cars}">
                    <td th:text="${c.id}"></td>
                    <td th:text="${c.brand}"></td>
                    <td th:text="${c.color}"></td>
                    <td th:text="${c.year}"></td>
                </tr>
            </tbody>

        </table>

    </main>
</body>
</html>